* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;

  transition: all 0.2s linear;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  background-color: #eee;
}
body {
  padding-top: 8rem;
  background: #eee;
}

/* Thiết lập lại kích thước phông chữ cho các phần tử khác nếu cần */
body,
.navbar,
.nav-link,
.login-button,
.mbtn {
  font-size: 1.6rem; /* 16px */
}
.search {
  cursor: pointer;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}
.navbar {
  background-color: #fff;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}
.navbar-brand {
  font-weight: 500;
  color: #009970;
  font-size: 24px;
  transition: 0.3s color;
}

.login-button {
  background-color: #009970;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}
.login-button:hover {
  background-color: #00b383;
}
.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}
.nav-link:hover,
.nav-link.active {
  color: #000;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #eee;
}

.mbtn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: #183d82dc;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem;
}
.mbtn:hover {
  background: #00b383;
  letter-spacing: 0.1rem;
}
.swiper-pagination-bullet-active {
  background: #009970;
}
.sub-heading {
  text-align: center;
  color: #009970;
  font-size: 2rem;
  padding-top: 1rem;
}
.heading {
  text-align: center;

  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

/* footer */
.mfooter {
  background: #fff;
}
footer .text-white {
  color: var(--green);
}
.mfooter h5 {
  font-weight: bolder;
  color: var(--black);
}
/* footer */

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#search-form.active {
  top: 0;
}
#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}
#search-form #search-box::placeholder {
  color: #eee;
}
#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}
#search-form label:hover {
  color: var(--green);
}
#search-form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 12rem;
  right: 3rem;
  font-size: 5rem;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.sproduct input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
.sproduct input:focus {
  outline: none;
}
.sproduct .content {
  flex: 1 1 45rem;
}

/* .sproduct .content span {
  color: var(--green);
  font-size: 2.5rem;
} */
.sproduct .content h3 {
  color: var(--black);
  font-size: 5rem;
}
.sproduct .content p,
.sproduct .content li,
.sproduct .content span {
  color: var(--light-color);
  font-size: 2rem;
  /* padding: 5rem 0; */
}
.sproduct .content h2 {
  color: var(--light-color);
}

.sproduct .content .original-price {
  text-decoration: line-through; /* Gạch ngang qua giá tiền gốc */
  color: #70cc78; /* Màu xám để làm mờ giá tiền gốc */
  margin-right: 10px; /* Khoảng cách giữa giá tiền gốc và giá tiền giảm giá */
  font-size: 1.5em;
}
.sproduct .content .discount-price {
  color: var(--green); /* Màu đỏ để làm nổi bật giá tiền giảm giá */
  font-weight: bold; /* Chữ đậm để thu hút sự chú ý */
  font-size: 1.5em; /* Tăng kích thước chữ */
}
.sproduct .content i {
  color: var(--light-color);
}
.sproduct .content strong {
  color: var(--black);
}
.sproduct .content .mstrong {
  color: var(--green);
}

.dishes .box-container {
  padding-left: 10rem;
  padding-right: 10rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}
:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.dishes .box-container .box {
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
  position: absolute;
  top: 1.5rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--black);
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover {
  background: var(--green);
  color: #fff;
}
a {
  text-decoration: none;
}
.dishes .box-container .box .fa-eye {
  left: -15rem;
}
.dishes .box-container .box .fa-heart {
  right: -15rem;
}
.dishes .box-container .box:hover .fa-eye {
  left: 1.5rem;
}
.dishes .box-container .box:hover .fa-heart {
  right: 1.5rem;
}
.dishes .box-container .box img {
  height: 17rem;
  margin: 1rem 0;
}
.dishes .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}
.dishes .box-container .box .stars {
  padding: 1rem 0;
}
.dishes .box-container .box .stars i {
  font-size: 1.7rem;
  color: var(--green);
}
.dishes .box-container .box .stars span {
  color: var(--green);
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before {
    width: 100%;
    visibility: visible;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
.brand-text {
  font-size: 24px; /* Kích thước phông chữ mặc định */
}

/* Style mặc định cho container */
.brand-container {
  display: flex;
  align-items: center;
}

/* Style mặc định cho logo */
.brand-logo {
  width: 70px;
}
@media (max-width: 768px) {
  .brand-container {
    flex-direction: column; /* Chuyển hướng sắp xếp thành cột */
    align-items: center; /* Canh giữa các phần tử */
  }

  .brand-text {
    font-size: 16px; /* Kích thước phông chữ nhỏ hơn */
    margin-bottom: 10px; /* Khoảng cách giữa chữ và logo */
  }

  .brand-logo {
    width: 50px; /* Giảm kích thước logo nếu cần */
  }
  .dishes .box-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
