.container {
  /* text-align: center; */

  width: 600px;
  height: auto;
  padding: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px 0px #000;
}
button {
  display: block;
  background-color: green;
  border: 0;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  color: white;
  height: 40px;
  font-size: large;
  margin-left: 200px;
}
.gt {
  display: flex;
  margin-top: -15px;
}
.gt div {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 20px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-left: -4px;
}
.ten {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ten input,
select {
  width: 270px;
  border-radius: 8px;
  padding: 8px;
}
select {
  width: 180px;
}
.tt input {
  width: 570px;
  border-radius: 8px;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 2px;
  margin-left: 2px;
}
label {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}
